@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to left, #C56C2A,#AE361B);
}

p {
    text-align: justify;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6d22119c;
}

h1 {
    color: #66C4D9;
    text-align: center;
    text-shadow: 1px 1px 2px #32646e8a;
}

h2 {
    color: #AE361B;
}